<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">./build/logs</Property>
        <Property name="messagePattern">
            [%d{HH:mm:ss.SSS}] [%-5level] - %msg (%logger{1}:%L) %throwable{short.message}%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-5level] - %msg (%logger{1}:%L) %throwable{short.message}%n"/>
        </Console>
        <RollingFile name="File" fileName="${basePath}/petstore-api.log" filePattern="${basePath}/prints-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${messagePattern}"/>
            <sizeBasedTriggeringPolicy size="5 MB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="File"/>
        </Root>
        <logger name="trace-log" level="TRACE">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="trace-info" level="INFO">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="trace-error" level="ERROR">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="trace-debug" level="DEBUG">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="trace-warn" level="WARN">
            <AppenderRef ref="Console"/>
        </logger>
    </Loggers>
</Configuration>